version: "3.9"

services:
  web:
    build: .
    ports:
      - "8000:8000"
    env_file: .env
    depends_on:
      - db

  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: attdbsch
      POSTGRES_USER: adminit
      POSTGRES_PASSWORD: Bel@1981
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
